@import "tailwindcss";

/* === Global base styles === */
:root {
  color-scheme: dark;
  background-color: #1e1e1e;
  color: rgba(255, 255, 255, 0.88);
  font-family: ui-sans-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
